name: CD - Build Docker Image (Local)

on:
  push:
    branches: [ "main" ]

jobs:
  build-only:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

    
      - name: Build Docker image
        run: docker build .